.keyContainer1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.keyLineContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 260px;
}

.handsAjust {
  padding-top: 10px;
}
